body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;

}

.checkbox-group {
    display: flex;
    align-items: flex-end;

}

.radio-group {
    display: flex;
    align-items: flex-end;




}

form {
    display: block;
}

select {
    background-color: rgba(137, 43, 226, 0.822);
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

label {
    display: block;
}